#rond {
    border-radius: 40px;
}

#groter:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}


nav > .nav.nav-tabs{
    font-weight: bold;
    border: none;
    color:#fff;
    background:#212529;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#212529;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #fed136 ;
}
.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #fed136;
    border-bottom:5px solid #fed136;
    padding:30px 25px;
}

.tab-pane {
    padding-left: 10px;
    padding-right: 10px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #fed136;
    color:#212529;
    border-radius:0;
    transition:background 0.20s linear;
}

.bodem {
    padding-bottom: 80px;
    font-size: 40px;
}

label {
    color: white;
}

.opmaak_link {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.opmaak_link:hover {
    color: #fec92e;
    text-decoration: none;
}

.foto {
    margin-top: 86px;
}